Package: me.qusic.couria
Name: Couria
Version: 0.6M
Description: Centralized Quick Reply System
Section: Tweaks
Depends: firmware (>= 6.0), mobilesubstrate, preferenceloader
Conflicts: com.a3tweaks.flipswitch (<= 1.0.2)
Priority: optional
Architecture: iphoneos-arm
Author: Qusic <QusicS@Me.com>
Maintainer: Charlie Hewitt <contact@chewitt.me>
Sponsor: Qusic.me <http://Qusic.me>
Homepage: http://Qusic.me/Couria
Icon: file:///Library/PreferenceBundles/CouriaPreferences.bundle/Couria.png
Depiction: http://chewitt.me/repo/depictions/couria
Tag: purpose::extension
